@font-face {
    font-family: BankGothic;
    src: url(../assets/BankGothicBold.otf);
}

body {
}

.contain {
    position: absolute;
    top: 10%;
    left: 70%;
    width: 500px;
    height: 500px;
    perspective: 1500px;
    transform: rotateY(12deg) rotateX(1deg) rotateZ(1deg);
    transform-style: preserve-3d;
}

.svg_box {
    position: absolute;
    width: 500px;
    height: 500px;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
}


#middletext {
    position: absolute;
    top: 190px;
    left: 150px;
    height: 100px;
    width: 200px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 32px BankGothic, sans-serif;
    color: #ffffff;
    filter: drop-shadow(3px 3px 3px black);
}

#dotsimg {
    position: absolute;
    z-index: 0;
    top: 100px;
    left: 100px;
    height: 300px;
    width: 300px;
    margin: 0% 0 0 0%;
    opacity: 0.85;
    
}


.g_box {
    fill: #494949;
    filter: drop-shadow(3px 3px 3px #4848D8);
}

.g_box:hover {
    fill: #FFFFFF;
    stroke: #4848D8;
    stroke-width: 1px;
    stroke-linecap: round;
    filter: drop-shadow(2px 2px 20px #4848D8FF);
    -webkit-filter: drop-shadow(2px 2px 20px #4848D8FF);
}

#wheelMenu {
    position: fixed;
    z-index: 2;
    left: 67vw;
    top: 22vh;
    transform: rotate3d(0.4, -1, 0.2, 25deg);
}

#subMenu {
    width: 100%;
    overflow: hidden;
}

#wheelMenu>div:not(.collapsed) {
    height: auto;
}

#wheelMenu>div.collapsed {
    height:0;
    overflow: hidden;
}

.subMenuLine {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0 20px 0;
}

.subMenuItem {
    background-color: #000000D0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(3px 3px 3px black);
    color: #ffffff;
}

.subMenuItem:hover {
    background-color: #ffffff;
    color: #5c34ad;
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px #4848D8);
}

.icon {
    pointer-events: none;
    filter: drop-shadow(3px 3px 3px #4848D8);

}

.collapse {
    pointer-events: none;
    filter: drop-shadow(3px 3px 3px #4848D8);
}


.expand {
    pointer-events: none;
    filter: drop-shadow(3px 3px 3px #4848D8);
}

.subMenuItem>.icon {
    max-width: 60%;
    max-height: 60%;
}