.current_application {
    position: absolute;
    margin: 0px;
    border-radius: 40px;
    width: 270px;
    height: 540px;
}

.capplication {
    position: absolute;
    border-radius: 40px;
    width: 270px;
    height: 540px;
    background: rgb(9,9,9);
    background: linear-gradient(0deg, rgba(9,9,9,1) 0%, rgba(185,0,200,1) 100%);
}