.background {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    width: 320px;
    height: 580px;
}

.phone_image {
    position: absolute;
    width: 320px;
    height: 580px;
    z-index: 1;
}