@font-face {
    font-family: BankGothic;
    src: url(../assets/BankGothicBold.otf);
}

body {
}

g:not([data-disabled="true"]) {
    fill: #000000D0;
    filter: drop-shadow(3px 3px 3px black);
}

g:not(#cl):not([data-disabled="true"]):hover {
    display:inline-block;
    fill: #ffffff;
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px #8d5eeb);
}

g:not([data-disabled="true"]):hover>.icon {
    cursor: pointer;
}

:not(#cl)>[data-disabled=true] {
    fill: #00000050;
    filter: drop-shadow(3px 3px 3px black);
}

#cl[data-disabled=true] *:not(#bottom) {
    fill-opacity: 0;
}

#cl[data-disabled=true] #bottom {
    fill: #00000050;
}

#cl>:not([data-disabled=true]) {
    fill: #ffffff;
    box-shadow: none;
}

#cl:hover>:not([data-disabled=true]) {
    fill: #8d5eeb;
    box-shadow: none;
}

#cl>[data-disabled=true], #cl:hover>[data-disabled=true]  {
    fill-opacity: 0;
}



#middletext {
    height: 100%;
    width: 100%;
    margin-top: -78%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font:80% BankGothic, sans-serif;
    color: #ffffff;
    filter: drop-shadow(3px 3px 3px black);
}

#dotsimg {
    height: 50%;
    width: 50%;
    margin: 25% 0 0 25%;
    opacity: 0.85;
}

#wheelMenu {
    position: fixed;
    left: 67vw;
    top: 22vh;
    transform: rotate3d(0.4, -1, 0.2, 25deg);
}

#subMenu {
    width: 100%;
    overflow: hidden;
}

#wheelMenu>div:not(.collapsed) {
    height: auto;
}

#wheelMenu>div.collapsed {
    height:0;
    overflow: hidden;
}

.subMenuLine {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0 20px 0;
}

.subMenuItem {
    background-color: #000000D0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(3px 3px 3px black);
    color: #ffffff;
}

.subMenuItem:hover {
    background-color: #ffffff;
    color: #5c34ad;
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px #8d5eeb);
}

.subMenuItem>.icon {
    max-width: 60%;
    max-height: 60%;
}