.container {
    top: 100px;
    left: 100px;
    height: 500px;
    width: 500px;
    position: absolute;
    background-color: beige;
}
.component {
    height: 50%;
    width: 50%;
    position: absolute;
    background-color: black;
}
.wrapper {
    top: 20%;
    left: 20%;
    height: 80%;
    width: 80%;
    position: absolute;
    background-color: white;
}