.environment {
    position: absolute;
    width: 1000px;
    height: 600px;
}


.search_bar {
    position: absolute;
    left: 0%;
    top: 92%;
    width: 40%;
    height: 8%;
    font-size: 20px;
}


.title {
    position: absolute;
    width: 96%;
    height: 1%;
    background-color: #0000008A;
    font-size: 20px;
    margin: 0px;
    font-size: 0px;
    padding-left: 4%;
    text-align: justify;
    border-top: 4px solid  #5786A7FF;
    color: white;
    font-family: textFont;
}
.title_b {
    position: absolute;
    width: 96%;
    background-color: #333333FF;
    font-size: 20px;
    margin: 0px;
    padding-left: 4%;
    text-align: justify;
    border-top: 4px solid  #9900FFFF;
    color: white;
    font-family: textFont;
}

.img_back {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.logo {
    position: absolute;
    margin: 2%;
    width: 15%;
    height: 18%;
}

.selector {
    margin-top: 10%;
    margin-left: 1%;
    width: 80%;
    height: 12%;
    color: white;
    border: 1px solid  #7B85FFFF;
    background-color: #333333FF;
    font-family: textFont;
    transform: perspective(2500px) rotateY(1deg);
}

.departement {
    position: absolute;
    width: 96%;
    height: 5%;
    left: 65%;
    margin-top: 1.5%;
    font-size: 14px;
    color: white;
    background-color: #00000000;
    padding-left: 4%;
    font-family: textFont;
}

.window_name {
    position: absolute;
    width: 96%;
    height: 7%;
    left: 35%;
    margin-top: 5%;
    font-size: 24px;
    color: white;
    background-color: #00000000;
    padding-left: 4%;
    font-family: textFont;
}

.selector:hover {
    color: #FFFFFFFF;
    border: 2px solid  #0F5382FF;
    background-color: #3333338C;
    font-family: textFont;
    transform: perspective(2500px) rotateY(0deg);
    transition: 500ms;
}

.menu {
    position: absolute;
    top: 22%;
    left: 4%;
    width: 15%;
    height: 75%;
}


.interact {
    position: absolute;
    top: 0%;
    left: 18%;
    width: 82%;
    height: 100%;
    border: 0px;
}

.submenu{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000000;
}

.computer {
    position: absolute;
    top: 32px;
    left: 68px;
    width: 865px;
    height: 485px;
    background-color: #E5D8E7;
    perspective: 50px;
    float: left;
    transform: perspective(100px) rotateY(0deg);
    transition: 1000ms;
}


.add_account {
    position: absolute;
    left: 69%;
    top: 80%;
    margin-top: 10%;
    margin-left: 10%;
    padding-left: 3%;
    width: 20%;
    height: 6%;
    color: aliceblue;
    font-family: textFont;
    font-size: 14px;
    background-color: #333333FF;
    border: 1px solid #9900FFFF;
    text-align: justify;
    float: left;
    transition: 400ms;
}

.ctitle {
    margin: 4px;
    color: black;
    font-family: textFont;
    font-size: 14px;
}

.ctext {
    margin: 4px;
    color: black;
    font-family: textFont;
    font-size: 14px;
    width: 98%;
    height: 100%;
    opacity: 0;
}

#t0 {
    top: 10%;
    left: 10%;
}

#t1 {
    top: 10%;
    left: 30%;
}

#t2 {
    top: 20%;
    left: 10%;
}

#t3 {
    top: 30%;
    left: 10%;
}


#t4 {
    top: 40%;
    left: 10%;
}

#t5 {
    top: 20%;
    left: 30%;
}

#t6 {
    top: 30%;
    left: 30%;
}

#t7 {
    top: 30%;
    left: 30%;
}

#t8 {
    top: 30%;
    left: 10%;
}

#t9 {
    top: 30%;
    left: 30%;
}

#t10 {
    top: 20%;
    left: 10%;
}

#i0 {
    top: 18%;
    left: 10%;
}

#i1 {
    top: 18%;
    left: 30%;
}

#i2 {
    top: 28%;
    left: 10%;
}

#i3 {
    top: 38%;
    left: 10%;
}


#i4 {
    top: 48%;
    left: 10%;
}

#i5 {
    top: 28%;
    left: 30%;
}

#i6 {
    top: 38%;
    left: 30%;
}

#i7 {
    top: 38%;
    left: 30%;
}


#i8 {
    top: 38%;
    left: 10%;
}

#i9 {
    top: 38%;
    left: 30%;
}

#i10 {
    padding-bottom: 20%;
    top: 18%;
    left: 50%;
    width: 40%;
    height: 40%;
}

.condanation {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 99.5%;
    height: 8%;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

.input_add {
    position: absolute;
    width: 18%;
    height: 5%;
}

#l0 {
    left: 55%;
    width: 40%;
}

#a2 {
    top: 0px;
    left: 0px;
    font-size: 14px;
    width: 25%;
    height: 8%;
    position: relative;
}

#a0 {
    top: 80%;
}

.text {
    position: absolute;
    font-family: textFont;
    font-size: 14px;
    color: white;
}

#a1 {
    top: 80%;
    left: 30%;
}



.add_account:hover {
    color: #333333FF;
    background-color: aliceblue;
    transition: 400ms;
}

.account {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    height: 8%;
    background-color: #333333FF;
}

.listaccount {
    position: absolute;
    margin: 0px;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: #7B85FF;
    overflow: auto;
}

.list_link {
    position: absolute;
    width: 90%;
    margin: 5%;
    height: 60%;
    border: 1px solid black;
    background-color: #7BA5FFAF;
    overflow: auto;
}

.add_button {
    position: absolute;
    left: 10%;
    top: 12%;
    font-family: textFont;
    font-size: 14px;
    background-color: #FFFFFFFF;
    color: black;
    border: 0px;
    width: 15%;
    font-size: 15px;
    height: 5%;
    transition: 100ms;
}


.add_button:hover {
    background-color: #000000FF;
    color: white;
    transition: 100ms;
}


.finder {
    position: absolute;
    width: 40%;
    height: 20%;
    top: 10%;
    left: 60%
}

.search_input {
    position: absolute;
    height: 30%;
    width: 100%;
}

.icon_search {
    position: absolute;
    top: 3%;
    left: 80%;
    width: 30%;
    height: 25%;
}

.input_ {
    width: 40%;
    height: 10%;
    font-size: 12px;
    margin-top: 2%;
    margin-left: 2%;
    text-align: center;
    border: 0px;
    color: white;
    border-bottom: 2px solid;
    border-bottom-color: #9900FFFF;
    font-family: textFont;
    background-color: #333333DF;
}

.window_back {
    position: absolute;
    top: 15%;
    margin: 0px;
    width: 100%;
    height: 85%;
    background-color: #7B85FF00;
}


.link {
    width: 40%;
    height: 10%;
    font-size: 12px;
    margin-top: 2%;
    margin-left: 2%;
    text-align: center;
    border: 0px;
    color: white;
    border: 2px solid;
    border-color: #9900FFFF;
    font-family: textFont;
    background-color: #333333FF;
    transition: 1000ms;
}

.open {
    color: white;
    position: absolute;
    height: 8%;
    left: 88%;
    margin-top: 0.0%;
    float: left;
    font-size: 14px;
    background-color: #333333AA;
    border: 0px;
    font-family: textFont;
    transition: 400ms;
}
.open:hover {
    color: black;
    background-color: white;
    font-family: textFont;
    border: 0px solid #9900FFFF;
    transition: 400ms;
}

.owner {
    margin: 0%;
    float: left;
    color: white;
    
    margin-top: 0.7%;
    font-size: 14px;
    font-family: textFont;
}
.id_account {
    margin: 0%;
    margin-left: 2%;
    margin-top: 0.7%;
    float: left;
    color: white;
    font-size: 14px;
    font-family: textFont;
}

.icon {
    left: 77%;
    top: 84.5%;
    position: absolute;
    width: 10%;
    height: 10%;
    pointer-events: none;
}

.close  {
    position: absolute;
    width: 5%;
    height: 5%;
    left: 95%;
    margin-top: 1%;
    cursor: pointer;
    transition: 100ms;
}


.close:hover  {
    filter: sepia(100%) contrast(80%);
    transition: 100ms;
}



body {
}

@font-face {
    font-family: GoboldBold;
    src: url(../font/GoboldBold.otf) format("opentype");
}



@font-face {
    font-family: titleFont;
    src: url(../font/Arimo-Bold.ttf) format("opentype");
}



@font-face {
    font-family: textFont;
    src: url(../font/Arimo-Regular.ttf) format("opentype");
}


@font-face {
    font-family: Terminal;
    src: url(../font/term.ttf) format("opentype");
}

@font-face {
    font-family: Umar;
    src: url(../font/umar.otf) format("opentype");
}


@font-face {
    font-family: GoboldBold;
    font-weight: bold;
    src: url(../font/GoboldCUTS.otf) format("opentype");
}
