.window_name {
    position: absolute;
    width: 500px;
    height: 50px;
    left: 790px;
    font-size: 52px;
    color: white;
    font-family: CaviarDreams;
}

.window_back {
    position: absolute;
    top: 15%;
    margin: 0px;
    width: 100%;
    height: 85%;
    pointer-events: none;
    background-color: #7B85FF00;
}
