* {
  box-sizing: border-box;
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c1019+0,0b0b0e+100 */
  background: #0c1019;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background-color: black;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 fallback on horizontal gradient */
  font-family: montserrat;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}
body .container_inner {
  width: 300px;
  margin: 0 auto;
}
body .container_inner__login {
  height: 100vh;
  -webkit-perspective: 800px;
          perspective: 800px;
}
body .container_inner__login .tip {
  color: #81AECE;
  opacity: 0;
  transition: all .4s;
  font-size: 10px;
  position: relative;
  font-weight: 100;
  height: 0px;
  overflow: hidden;
  top: -27px;
  line-height: 14px;
}
body .container_inner__login .tick {
  -webkit-transform: scale(0) translateY(-50%);
          transform: scale(0) translateY(-50%);
  transition: all 0.35s cubic-bezier(0.65, 1.88, 0.51, 0.69);
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  margin: auto;
}
body .container_inner__login .tick img {
  width: 50px;
}
body .container_inner__login .hide {
  opacity: 0 !important;
}
body .container_inner__login .bulge {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  top: 50px !important;
  transition: all .4s;
  -webkit-animation: bulge 1s .25s forwards !important;
          animation: bulge 1s .25s forwards !important;
}
body .container_inner__login .login_check {
  font-size: 11px;
  text-align: center;
  line-height: 20px;
  color: white;
  color: #BFBFCE;
  position: absolute;
  display: none;
  left: -26px;
  top: 160px;
  height: 280px;
  width: 278px;
  margin: auto;
  right: 0;
}
body .container_inner__login .login_check img {
  opacity: 0.9;
  width: 140px;
  margin-bottom: 30px;
}
body .container_inner__login .login_check span {
  color: #6009B6;
  line-height: 20px;
}
body .container_inner__login .login {
  position: absolute;
  left: 0;
  top: 50%;
  transition: all .2s;
  width: 220px;
  -webkit-transform-origin: 110px -30px;
          transform-origin: 110px -30px;
  margin: auto;
  -webkit-transform: scale(1) translateY(-50%) rotatex(360deg) rotatey(360deg);
          transform: scale(1) translateY(-50%) rotatex(360deg) rotatey(360deg);
  right: 0;
}
body .container_inner__login .login .center {
  top: 100px !important;
}
body .container_inner__login .login_profile {
  border-radius: 100px;
  height: 80px;
  width: 80px;
  background-image: linear-gradient(to right top, #f18935, #f1356a, #8535f1, #35baf1, #35f1ac);
  margin-bottom: 40px;
  margin: 0 auto;
  position: relative;
  top: 0px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: logo_in 1s .9s forwards;
          animation: logo_in 1s .9s forwards;
}
body .container_inner__login .login_profile img {
  position: absolute;
  top: -4px;
  left: -4px;
}
body .container_inner__login .login_profile .logo {
  z-index: 2;
}
body .container_inner__login .login_profile .pulse {
  width: 220px;
  position: relative;
  top: -72px;
  display: none;
  left: -74px;
  z-index: 1;
}
body .container_inner__login .login_desc {
  color: #BFBFCE;
  font-size: 10px;
  margin-top: 20px;
  -webkit-animation: pop .5s 1.3s forwards;
          animation: pop .5s 1.3s forwards;
  position: relative;
  opacity: 0;
}
body .container_inner__login .login_desc h3 {
  font-weight: 500;
}
body .container_inner__login .login_desc span {
  color: #6009B6;
  font-weight: 600;
}
body .container_inner__login .login_inputs {
  margin-top: 50px;
}
body .container_inner__login .login_inputs form {
  margin: 0;
  padding: 0;
}
body .container_inner__login .login_inputs form input {
  width: 100%;
  padding: 10px;
  color: #141416;
  border: none;
  border-radius: 3px;
  text-align: center;
  -webkit-animation: pop .5s 1.6s forwards;
          animation: pop .5s 1.6s forwards;
  position: relative;
  opacity: 0;
  font-size: 13px;
  outline: none;
}
body .container_inner__login .login_inputs form input[type="submit"] {
  margin-top: 12px;
  cursor: pointer;
  border: 1px solid #7029B7;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 10px;
  -webkit-animation: pop .5s 1.9s forwards;
          animation: pop .5s 1.9s forwards;
  position: relative;
  opacity: 0;
  position: relative;
  font-weight: 100;
  color: white;
  font-family: montserrat;
  background: #6009B6;
  box-shadow: 0px 2px #52089B, 0px 0px 3px rgba(2, 2, 2, 0.17), 0px 0px rgba(255, 255, 255, 0.13) inset;
  font-size: 11px;
  transition: all .24s;
}
body .container_inner__login .login_inputs a {
  color: #393940;
  text-decoration: none;
  font-weight: 100;
  -webkit-animation: pop .5s 2.2s forwards;
          animation: pop .5s 2.2s forwards;
  position: relative;
  opacity: 0;
  font-size: 11px;
  display: inline-block;
  margin-top: 20px;
  transition: all .24s;
}
body .container_inner__login .login_inputs a:hover {
  color: #6009B6;
}

@-webkit-keyframes brightflash {
  0% {
    background: #141416;
  }
  50% {
    background: white;
  }
  100% {
    background: #141416;
  }
}

@keyframes brightflash {
  0% {
    background: #141416;
  }
  50% {
    background: white;
  }
  100% {
    background: #141416;
  }
}
@-webkit-keyframes bulge {
  0% {
    width: 60px;
  }
  20% {
    width: 110px;
  }
  40% {
    width: 67px;
  }
  60% {
    width: 84px;
  }
  80% {
    width: 78px;
  }
  100% {
    width: 80px;
  }
}
@keyframes bulge {
  0% {
    width: 60px;
  }
  20% {
    width: 110px;
  }
  40% {
    width: 67px;
  }
  60% {
    width: 84px;
  }
  80% {
    width: 78px;
  }
  100% {
    width: 80px;
  }
}
@-webkit-keyframes logo_in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  60% {
    -webkit-transform: scale(1.012);
            transform: scale(1.012);
  }
  80% {
    -webkit-transform: scale(0.995);
            transform: scale(0.995);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes logo_in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  60% {
    -webkit-transform: scale(1.012);
            transform: scale(1.012);
  }
  80% {
    -webkit-transform: scale(0.995);
            transform: scale(0.995);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes pop {
  0% {
    opacity: 0;
    top: 4px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes pop {
  0% {
    opacity: 0;
    top: 4px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
