.Slider {
    position: relative;
    top: 80px;
    width: 1100px;
    margin: 40px;
    background-color: #00000000;
    -webkit-appearance: none;
}

.Slider:focus {
    outline-style: none;
}

.Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin-top: -5px;
    padding: 30px;
    border: 0px;
    border-radius: 20px;
    background-color: #4848D8;
    box-shadow: 0px 0px 35px #6868D8;
}

.Slider::-webkit-slider-runnable-track {
    height: 50px;
    border: 1px solid #4848D8;
    border-radius: 20px;
    background-color: #494949;
    box-shadow: 0px 0px 20px #4848D8;
}