.background {
    margin: 0;
    height: 500px;
    width: 500px;
    background-color: #333333AA;
    position: absolute;
    border: 2px solid #9900FFAA;
}

p {
    color: white;
    
}

.title {
    margin: 0 0 0 0;
    padding: 5 0 5 5;
    border-bottom: 1px solid #9900FFAA;
    font-size: 20px;
    background: #333333FF;
    color: white;
}