.background {
    position: absolute;
    width: 800px;
    height: 800px;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

.frequency {
    position: absolute;
    top: 200px;
    left: 70;
    font-size: 38px;
    font-family: GoboldBold;
    margin: 0px;
}

.backimg {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 512px;
    height: 512px;

}


.tbutton {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 325px;
    left: 265px;
    background-color: #00041120;
    border-radius: 40px;
    color: white;
    border: 1px solid #6868d8;
    transition: 100ms;
}

.tbutton:focus {
    outline-style: none;
}


.change_h:focus {
    outline-style: none;
}

.change_radio_a:focus {
    outline-style: none;
}

.tbutton:hover {
    transition: 100ms;
    background-color: #6868d8;
}

.change_h {
    border: 2px solid red;
    background-color: #00000000;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 140;
    left: 122;
}

.change_radio_a {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 430px;
    left: 460px;
    border-radius: 20px;
    background-color: #00FF00;
    border: 2px solid #494949;
}

@font-face {
    font-family: GoboldBold;
    src: url(../font/GoboldBold.otf) format("opentype");
}


@font-face {
    font-family: GoboldBold;
    font-weight: bold;
    src: url(../font/GoboldCUTS.otf) format("opentype");
}
